// Stylesheet for welcome Component
@import '../../styles/_variables';

.welcome {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0;

    h1 {
        margin: 0;
        padding: 0;
    }

    .leftSide, .rightSide {
        width: 50%;
        float: left;
    }

    .leftSide {
        padding-right: 30px;
    }
}

.nameList-col {
    width: 380px;
    float: left;
}

.alphabetical-tabs {
    width: 100px;
    margin-top: 53px;
    margin-left: 5px;
    float: left;

    .alphabetical-tab {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        border-radius:50%;

        &:hover {
            background-color: $blue-light;
            color: $white;
        }
    }

    .tabs-col-1,
    .tabs-col-2 {
        float: left;
    }
}
