// Stylesheet for describe Component

.describe {
    position: relative;
    width: 1024px;
    height: 600px;
    padding: 10px;
    margin: 0;

    .image-container {
        width: 1004px;

        img {
            display: block;
            margin: 0 auto;
            width: 900px;
            height: 520px;
            transition-property: width, height;
            transition-duration: .4s;
            transition-timing-function: ease-out;
            -webkit-transition-property: width, height;
            -webkit-transition-duration: .4s;
            -webkit-transition-timing-function: ease-out;
            animation-fill-mode: forwards;

            &.scaled {
                margin: 0 auto;
                width: 346px;
                height: 200px;
            }
        }
    }

    .input-container {
        width: 900px;
        height: 40px;
        margin: 15px auto;

        .keyboard-icon {
            float: left;
            margin: 0 20px;
        }

        .descriptionInput {
            width: 730px;
            height: 40px;
            padding: 0 5px;
            margin-right: 10px;
            float: left;
            border: 1px solid black;
            font-size: 24px;
        }

        .okButton {
            width: 70px;
            height: 40px;
            border-radius: 0;
        }
    }

    .keyboard-container {
        position: absolute;
        bottom: -320px;
        transition-property: bottom;
        transition-duration: .4s;
        transition-timing-function: ease-out;
        -webkit-transition-property: bottom;
        -webkit-transition-duration: .4s;
        -webkit-transition-timing-function: ease-out;
        animation-fill-mode: forwards;

        &--visible {
            bottom: 0;
        }
    }
}

h1 {
    margin: 0;
    padding: 0;
}
